.img-container {
  width: 150px ;
  justify-content: center;
  display: flex;
}

.product-image {
  border-radius: 10px 0 0 10px;
  width: 85% !important;
  object-fit: contain;
}

.product-info {
  width: 250px;
  border-right: 1px solid #201b40;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 15px;

  h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
    color: gray;
    font-size: 12px;
  }
}

.quantity {
  width: 160px;
  border-right: 1px solid #201b40;
  display: flex;
  flex-direction: column;
  text-align: center;


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    align-items: start;

    h3 {
      margin: 0;
      padding: 0 10px;
      vertical-align: middle;
      border:  1px solid #201b40;
    }
  }

  h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.product-total {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 20px;
    margin: 0;
  }
}