table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    border: 1px solid #E35358;
    color: #212529;
    background-color: transparent;
    position: relative;
    left: 10%;
}

.product-image{
    width: 75px;
    height: 100px;
}